language: python

python:
  - 2.7
  - 3.4
  - 3.5
  - 3.6

env:
  - TOXENV=django111
  - TOXENV=django20
  - TOXENV=django21

matrix:
  exclude:
    - python: 2.7
      env: TOXENV=django20
    - python: 2.7
      env: TOXENV=django21
    - python: 3.4
      env: TOXENV=django21

script:
  - tox

install:
  - pip install tox
  - pip install factory_boy
  - pip install -e .

deploy:
  provider: pypi
  user: iwoca
  password:
    secure: KNgZPIZ8xv1sC5i8/NiNuUFe5Daae5iM4dz7tbAStxTvJ8W793ybxaIKL9EIFefAHwi7R9prqH+VBt2cu+td6x23OZyfbi3Ci6bpBmKjBCCPr6itMBNjuHOepvBIUWiBcewrQ6seeEdigKzKu53b5VS4zUT6mWOlwnOJV4RO4YY=
  on:
    tags: true
    all_branches: true
